html {
    height: 100vh;
    overflow: hidden;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 94vh;
    padding: 3vh 2vw;
}
img {
    aspect-ratio: auto;
    max-width: 96vw;
    height: 100%;
    flex-shrink: 1;
    transition: opacity 500ms ease-in-out, scale 500ms ease-in-out;
}

#explain {
    display: block;
    appearance: none;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

#explain:hover {
    background-color: #0056b3;
}
